{% extends 'base.html' %}
{% block title %}ChatApp - Main{% endblock %}
{% block content %}
    <h2>Main ChatApp Window</h2>
    <h4>Hello, {{ username }}. Let's chat today :) </h4>
    <p></p>
    <div id="chatwindow">
        <div id="messageswindow">
            <!-- messages -->
        </div>
        <div id="message_input">
            <input class="form-control" type="text" id="message_field" placeholder="Your message...">
        </div>
    </div>
    <div>
    <button type="button" id="send_message" class="btn btn-primary btn-lg" style="margin-top: 1em; margin-left: 7px;">Send</button>
    </div>
{% endblock %}