.boxsizingBorder {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
#chatwindow{
    position:relative;
    height:400px; /* if you wish to use all of your space, use
    position:absolute; top:0;left:0;right:0;bottom:0;
    or drop the chatdwindow div */
}
#messageswindow, #inputcontainer{
    position:absolute;
    left:0;
    right:0;
    border:1px solid #000;
}
#messageswindow{
    overflow:auto;
    top:0;
    bottom:3em;
}
#message_input{
    position:absolute;
    display:block;
    bottom:0;
    height:2em;
    padding:.5em;
    margin-top:1em;
    width: 100%;
}